div h2 {
    font-style:italic
}
h2 + p{
    color:red
}
ul.list > li{
    border-bottom: 1px solid grey;
    list-style-type: none;
}
li a{
    color:green
}
li a:link{
    color: red
}
li a:hover{
    color: pink
}
ul > li:first-child::first-letter{
    font-weight:bold;
    font-size:120%;
}
a[title="BCIT homepage"]{
    background-color: yellow;
}
img{
    float:left;
    margin: right;
}
p{
    clear: bottom;
}
p.class{
    clear: left;
}